spring:
  profiles:
      active: test
  jackson:
      date-format: yyyy-MM-dd HH:mm:ss
      time-zone: GMT+8
eureka:
  client:
    serviceUrl:
      defaultZone: http://slave:8762/eureka/,http://master:8761/eureka/
  instance:
    preferIpAddress: true
    instance-id: course-service602